body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: 'Press Start 2P', cursive;
}
 .animated-link {
  color: white;
  display: list-item;
  position: relative;
  text-decoration: none;
  transition: transform 0.3s ease;
  padding-top: 15px;
  padding-left: 5px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
 }
 .animated-link:hover {
  transform: translateY(-10px); /* Move the link 10px upwards on hover */
  color: #00ffcc;
 }
.navbar {
  position: relative;
  width: 100%-20px;
  height: 200px;
  background-color: black;
  border: 2px solid white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 10;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00ffcc;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}
footer {
  overflow: hidden;
}
p {
  color: #9e9e9e;
}